h1{
    text-align: center;
    color: rgb(85, 88, 90);
}
body{
    background-color: aqua;
}

button{
    width: 300px;
    height: 50px;
    border-radius:30px;
    border: 0;
    cursor: pointer;
    color: aliceblue;
    background-color:rgb(11, 45, 146);
    display: block;
    margin: auto;
    font-size: 20px;
    border: 3px solid rgb(255, 255, 255);
    margin-top:100px;
}

button:hover{
    color: blue;
    background-color:white;
}